.blog-right-side {
    width: 33%;
    flex: 0 0 33%;
    height: fit-content;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: transparentize($break-white, .65);
    border: 1px solid lighten($sec-color, 45%);
    @media (max-width: $md) {
        width: 100%;
        flex: 0 0 100%;
    }

    .search-widget {
        .cc-input-group {

            .cc-form-control {
                width: 100%;
                padding: .357rem .75rem .375rem 20px;
                font-size: 14px;
                background-color: $main-color;
                color: $white;
                border: none;
                border-radius: 45px;
                z-index: 0;

                &::placeholder {
                    color: $white;
                }
            }

            .btn-widget {
                position: absolute;
                top: 50%;
                right: 20px;
                padding: 0;
                font-size: 14px;
                background-color: transparent;
                color: $white;
                border: none;
                transform: translateY(-50%);
                box-shadow: none;
                z-index: 1;
            }
        }
    }

    .author-widget {
        h4 {
            margin-top: 1rem;
        }

        p {
            margin-bottom: 0;
        }

        .social-icon {
            padding: .5rem 0 1rem;

            a {
                margin-right: 1rem;
                color: $font-color;
                transition: color .3s ease;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }

    .newsletter-widget {
        .cc-form-group {
            margin-bottom: 1rem;
            display: flex;
            flex-flow: row;

            .cc-input-group {
                .input-group-prepend {
                    display: flex;
                    margin-right: -1px;

                    .input-group-text {
                        display: flex;
                        align-items: center;
                        padding: 0 0 0 15px;
                        margin-bottom: 0;
                        background-color: $white;
                        font-size: 12px;
                        text-align: center;
                        line-height: 2;
                        vertical-align: top;border: 1px solid #eee;
                        border-right: 0;
                        border-radius: 0;
                        white-space: nowrap;
                    }
                }

                .cc-form-control {
                    flex: 1 1 auto;
                    width: 1%;
                    margin-bottom: 0;
                    padding: .375rem .75rem;
                    font-size: 12px;
                    border: 1px solid #eee;
                    border-left: 0;
                    border-radius: 0;
                }
            }

            .bbtns {
                display: inline-block;
                padding: 0 24px;
                font-size: 12px;
                line-height: 38px;
                font-weight: 500;
                background-color: $main-color;
                color: $white;
                border-radius: 0;

                &:hover, &:focus {
                    background-color: darken($main-color, 6%);
                    outline: none;
                }
            }
        }
    }

    .tag-cloud-widget {
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            li {
                margin-bottom: .75rem;
                margin-right: 3px;

                a {
                    padding: 5px 10px;
                    font-size: 13px;
                    background-color: $white;
                    color: $font-color;
                    border: 1px solid lighten($sec-color, 45%) ;
                    transition: .3s ease;
                }
            }
        }
    }

    .br {
        width: 100%;
        background-color: #eeeeee;
        height: 1px;
        margin: 30px 0;
    }

}