.blog-info {
    width: 25%;
    flex: 0 0 25%;
    text-align: right;
    @media (max-width: $md) {
        width: 100%;
        flex: 0 0 100%;
    }

    .post-tag {
        padding-bottom: 1rem;

        a {
            display: inline-block;
            font: 300 .9em/1.2 $ubuntu;
            color: $font-color;
            transition: .25s ease-in;
            &:active, &.active, &.hover, &:hover {
                color: $main-color;
            }
        }
    }

    .blog-meta {
        padding-left: 0;

        a {
            display: inline-block;
            padding-bottom: 1rem;
            font-size: .9em;
            font-weight: 300;
            line-height: 1;
            vertical-align: middle;
            color: $sec-color;
        }
    }
}