#footer {

  .footer-blocks {
    .footer-block {
      width: 50%;
      flex: 0 0 50%;

      @media (max-width: $sm) {
        width: 100%;
        flex: 0 0 100%;
      }
    }

    @import "f-links";

    @import "s-links";

    @import "copyright";
  }
}