.mt-70 {
    margin-top: 70px;
}

.mb-70 {
    margin-bottom: 70px;
}

.my-70 {
    margin-top: 70px;
    margin-bottom: 70px;
}

.mb-1 {
    margin-bottom: 1rem;
}

.my-1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.ml-1 {
    margin-left: 1rem;
}

.mr-1 {
    margin-right: 1rem;
}