html {
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #495454;
  text-align: left;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  outline: none;
}

ul, ol, li, dl {
  list-style-type: none;
  margin: 0;
  padding: 0;
}