.nav-item {
  margin-left: 1rem;
  list-style-type: none;
  @media (max-width: $md) {
    margin-bottom: 1rem;
  }

  .nav-link {
    padding: .35rem 0;
    font-size: 1em;
    font-weight: 400;
    color: inherit;
    line-height: 2;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all .3s ease;

    @media (max-width: $md) {
      padding: .5rem 1rem;
      color: $break-white;
    }

    &:hover, &:active, &.active, &.hover {
      color: $main-color;
      border-bottom-color: $main-color;

      @media (max-width: $md) {
        color: $font-color;
        border-bottom-color: $font-color;
      }
    }
  }
}